.users-list > img{
    width:50%!important;
    padding-bottom: 10px!important;
    clear: both;
}

.users-list > li{
    width: 20%!important;
}

.btn-navy{
    background-color: #001f3f!important;
    color: white!important;
}

.btn-navy:hover{
    opacity: 0.9!important;
}

@media (min-width:768px)
{
    #candidate-create .card .card-body .right{
        text-align: right!important;
    }
}

@media (max-width:768px)
{
    #candidate-create .card .card-body .right{
        text-align: center!important;
    }

    #candidate-create .card .card-body .center{
        text-align: center!important;
    }
}

#candidate-create .card .card-body img{
    width: 20%!important;
}

@media (min-width:768px)
{
    #candidate-edit .card .card-body .right{
        text-align: right!important;
    }
}

@media (max-width:768px)
{
    #candidate-edit .card .card-body .right{
        text-align: center!important;
    }

    #candidate-edit .card .card-body .center{
        text-align: center!important;
    }
}

#candidate-edit .card .card-body img{
    width: 20%!important;
}
