#app-body .bordertop {
    border-top: 2px solid #4682B4;
    border-radius: 10px;
}

#app-body .a {
    text-decoration: none;
}

#app-body .header-img{
    width:10%!important;
}

@media(max-width:768px)
{
    #app-body .header-img{
        width:30%!important;
    }
}

#app-body .yellow {
    color: yellow;
}

#app-body input[type=text] {
    width: 50%;
}

#app-body input[type=password] {
    width: 50%;
}

#app-body .input {
    width: 100%!important;
}

#app-body input[type=checkbox] {
    width: 50px;
    height: 50px;
}

#app-body input[type=search] {
    max-width: 300px;
}

#app-body .left-boder {
    border-left: 1px solid black;
}

#app-body .navbar {
    background-color: #17a2b8;
    justify-content: center;
}

#app-body .right {
    float: right;
}

#app-body .paddT {
    background-image: url('{{url('images/login-bg.jpg')}}');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100%;
}

#app-body .loginform {
    background-color: transparent;
    border: 5px solid orange;
}

#app-body .content {
    background-image:url('{{asset('img/bg-content.jpg')}}');
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

#app-body .bg {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0,.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    text-align: center;
}

#app-body input .empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}


/* #app-body .navbar a:hover{
    border-bottom:2px solid white;
} */

#app-body .adminheader {
    height: 50px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap;
    wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    background-color: white;
    margin: 10px 0px 10px 0px;
}

#app-body .abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#app-body .top-header {
    width: 100%;
    height: 50px;
    /* background-color:blue; */
    margin: 15px 0px 15px 0px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

#app-body .count-checkboxes-wrapper {
	width:80%;
    height: 44px;
}

#app-body .checkbox-width {
    padding: 6px 0px 0px 0px;
}

#app-body .abtn {
    height:44px;
    font-weight:bold;
    border-radius: 0px!important;
    padding: 1px 5px 11px 5px;
}



#app-body .card-height-fixed {
    height: 100%;
    object-fit: contain;
}

#app-body .card-body {
    padding: 0px 10px 0px 10px!important;
}

#app-body .c-image {
    width: 100%;
    height: 50%;
}

#app-body .back {
    position: fixed;
    right: 1%;
    top: 20%;
    left: 91%;
    z-index: 1030;
}

#app-body .border-radius {
    border-radius: 30px;
}

#app-body .table td {
    padding: .30rem!important;
}

#app-body .px-10 {
    padding: 0px 10% 0px 10%;
}

#app-body .check_div {
    padding: 10px 20px 0px 0px!important;
    margin: 0px 0px 0px 0px;
}

#app-body .rounded-image {
    width: 30%;
    height:300px;
}

#app-body .reponsive-image {
    border-radius: 5px;
}

#app-body .footer {
    position: fixed;
    height: 35px;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
}

#app-body .footer .footer-copyright{
    color:white;
}

#app-body .footer .container a{
    text-decoration:none;
    color:white;
    font-family:'Times New Roman', Times, serif
}

#app-body .login-panel{
    padding-left: 300px!important;
}

@media only screen and (min-width: 800px ) {
    #app-body .abtn {
        width:100%!important;
        float: center;
    }
        #app-body .count-checkboxes-wrapper {
         width:80%;
        float: center;
    }
}
@media only screen and (max-width: 900px ) {
    #app-body .abtn {
        width:90%;
        float: center;
    }
        #app-body .count-checkboxes-wrapper {
         width:80%;
        float: center;
    }
}
@media only screen and (min-width: 740px ) {
    #app-body .abtn {
        width:100%!important;
        float: center;
    }
        #app-body .count-checkboxes-wrapper {
         width:80%;
        float: center;
    }
}
@media only screen and (max-width: 800px ) {
    #app-body .abtn {
        width:80%;
        float: center;
    }
        #app-body .count-checkboxes-wrapper {
         width:80%;
        float: center;
    }

}

@media only screen and (max-width:1000px)
{
    #app-body .login-panel{
        padding-left: 0px!important;
    }
}
@media only screen and (min-width: 600px) {
    #app-body .middle-card {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    #app-body .count-checkboxes-wrapper {
        float: center;
    }
    #app-body .abtn {
        float: center;
    }
}

@media only screen and (max-width: 600px) {

    #app-body .card {
        margin: 0px 20px 0px 20px;
    }
    #app-body .reponsive-image {
        text-align: center;
        width: 40%;
    }
    #app-body .responsive {
        padding-top: 0rem !important;
    }
    #app-body .rounded-image {
        width: 80%;
        height:200px;
        text-align: center!important;
        vertical-align: center;
        justify-content: center;
    }
    #app-body .pdt-3 {
        padding-top: 1rem;
    }
    #app-body .login-btn {
        margin: 15px 0px 0px 0px;
    }
    #app-body .count-checkboxes-wrapper {
        width: 80%;
        height: 44px;
    }
    #app-body .abtn {
        width: 80%;
    }

    #app-body .footer .footer-copyright{
    color:white;
    font-size:10px!important;
}

#app-body #center-body{
    text-align:center!important;
}

#app-body .footer .container a{
    text-decoration:none;
    color:white;
    font-size:10px!important;
    font-family:'Times New Roman', Times, serif
}
}

#app-body .hover-card:hover{
    background-color: #044462;
    color:white!important;
    transition: 0.8s;
    transform: scale(1.02);
    cursor: pointer;
}

#app-body .bs-example {
    margin: 20px;
}

#app-body .accordion .fa {
    margin-right: 0.5rem;
}

#app-body .heading-card{
    width:100%;
    height:40px!important;
    padding-left:20px;
    background:#044462;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
